@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,600;1,100&family=Tilt+Prism&display=swap');

/* per inserire i font da google font */
body {
    background-color: crimson;
    font-family: 'Kanit', sans-serif;
    
}
/* h1 {
    background-color: blue;
} */
.first-title{
    font-family: 'Tilt Prism', cursive;
    background-color: aquamarine;
    width: 50%;
    /* max-width: 400px;
    min-width: 200px; */
    height: 400px;
    overflow: hidden;
    overflow: auto;
    /* padding: 24px; */
    /* padding-left: 40px; */
    padding: 50px 20px;
    margin: 24px;
    /* box-sizing: border-box; */
}
.white-font{
    color: white;
}
#hello-title{
    height: 100px;
    color: yellow;
    /* border-style: solid;
    border-width: 30px;
    /* box-sizing: border-box; */
    /* border-color: darkgreen; */ 
    border: 30px solid darkgreen;
    border-radius: 50px 20px 100px 2px;
    border-top-left-radius: 10px;
}
div h1{
    border: solid;
}
h1, p{
    text-transform: uppercase;
}
.empty-div{
    border: 1px solid white;
    width: 100%;
    height: 400px;
    background-image: url("./assets/ippo-grande.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.border{
    border: 2px solid white;
}
.example-div{
    height: 20px;
    background-color: darkblue;
    display: block;
    width: 500px;
}
.example-img{
    width: 300px;
    display: inline-block;
}
.example-a{
    /* width: 300px; */
    display: inline;
}

/* position */
.scatola{
    border: 2px solid red;
    height: 300px;
}
.s-a{
    background-color: blue;
}
.s-b{
    background-color: purple;
}
.s-c{
    background-color: darkgoldenrod;
}
.s-d{
    background-color: violet;
}
.s-e{
    background-color: brown;
}
.s-f{
    background-color: slategrey;
}
.s-g{
    background-color: lime;
}
.s-h{
    background-color: aqua;
}
.s-i{
    background-color: lightblue;
}
.s-l{
    background-color: navy;
}